@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --taxt: #434455;
  --subtle-taxt: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white: #ffffff;
  --modal-background: #fcfcfc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: var(--white);
  color: #434455;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  cursor: pointer;
}

button:hover {
  background-color: #404bbf;
}

button:focus,
button:active {
  background-color: #404bbf;
}

a {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-brand);
}

a:hover,
a:focus {
  color: #404bbf;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffffff;
}

p {
  color: #434455;
}

address {
  font-style: normal;
}

.section {
  padding: 120px 0;
}

.conteiner {
  display: flex;
  flex-direction: column;
  width: 1158px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 156px;
}

.header__contacts-list {
  display: flex;
  gap: 40px;
}

.footer__logo,
.header__logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer__logo span,
.header__logo span {
  color: #2e2f42;
}

.header__nav,
.header__list-item,
.header__link,
.header__list {
  letter-spacing: 0.02em;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.header__list {
  display: flex;
  gap: 40px;
}

.header__link {
  color: var(--dark);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.header__link:hover,
.header__link:active {
  color: #404bbf;
}

.header__contacts-item {
  color: var(--text);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.hero-section {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 188px 0;
}

.hero-section__title {
  color: var(--white);
  text-align: center;
}

.hero-section__btn {
  margin-top: 48px;
  padding: 16px 32px;
  color: var(--white);
  background-color: var(--primary-brand);
  background: var(--IRIS, #4d5ae5);
  border: var(--IRIS, #4d5ae5);
  border-radius: 4px;
}

.about-section {
  display: flex;
  justify-content: center;
  padding: 120px 156px;
}

.about-section__title {
  display: none;
}

.about-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.about-section__item {
  display: flex;
  flex-direction: column;
  max-width: 264px;
  gap: 8px;
}

.our-team {
  background-color: var(--light);
}

.our-team__title,
.portfolio__title {
  margin-bottom: 72px;
}

.our-team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px;
}

.list__item {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #ffffff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.item-conteiner {
  padding: 0 16px;
  text-align: center;
  margin-bottom: 32px;
}

.item-title {
  margin-bottom: 8px;
}

.item-description {
  color: #434455;
  letter-spacing: 0.02em;
}

.item__description {
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio__list,
.portfolio__sublist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 24px;
}

.portfolio__list {
  flex-direction: column;
}

.portfolio__sublist {
  flex-direction: row;
}

.portfolio__sublist .item-conteiner {
  text-align: start;
}

.list__item img {
  margin-bottom: 32px;
}

.footer {
  padding: 100px 156px;
  background-color: var(--dark);
}

.footer__logo span {
  color: #f4f4fd;
}

.footer__description {
  color: var(--light);
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 16px;
}
